// Reset default browser styles using Normalize
@import "../../node_modules/normalize-scss/sass/_normalize.scss";
// Install FontAwesome for useful icons
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
// Import fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,700);
@font-face {
    font-family: 'Sanomat';
    src: url('../../../fonts/Sanomat/Sanomat OTF/Sanomat-Regular.otf');
}

@font-face {
    font-family: 'Sanomat Sans';
    src: url('../../../fonts/Sanomat Sans/Sanomat Sans OTF/Sanomat Sans-Regular.otf');
}

// Set variables and reusable mixins
@import "base/config";
@import "base/mixins";
// Import typical layout styles
@import "base/grid";
@import "base/type";
// Import reusable modules
@import "components/buttons";
@import "components/forms";
@import "components/nav";
@import "components/other";
@import "components/title_row";
@import "components/comment";
@import "components/four_articles";
@import "components/hero_four_articles";
@import "components/hero_five_articles";
@import "components/hero_one_dmpu";
@import "components/three_articles_dmpu";
@import "components/four_articles_dmpu";
// Specific project styles, add any section specific sass modules here
@import "pages/layout";
@import "pages/home";
@import "pages/going_out";
// Additional styles to think about
@import "base/responsive";
@import "base/print";
// If IE support is needed
@import "base/ie";
// For anything quick and dirty that needs thrown in
@import "base/shame";