// **
// Comment box
// **
#comment {
    width: 1000px;
    height: 250px;
    z-index: 99999;
    background: #f0f0f0;
    width: 700px;
    height: 250px;
    margin: 0px 20px 0px 50px;
    z-index: -2;
    h1 {
        font-size: 13px;
        padding: 40px 50px 0px 55px;
        color: #565856;
        font-weight: bold;
    }
    .yellow-strip {
        background: none repeat scroll 0 0 #F5A623;
        content: "";
        display: block;
        height: 22px;
        position: relative;
        width: 195px;
        margin: 0 10px 0 60px;
        z-index: 0;
        h2 {
            font-size: 28px;
            font-family: $system-font-stack;
            position: relative;
            z-index: 1;
            top: -14px;
            left: -7px;
        }
    }
    p {
        font-size: 24px;
        line-height: 32px;
        margin: 10px 10px 0 55px;
        font-weight: bold;
        width: 300px
    }
    .img img {
        float: right;
        padding: 0px -800px 50px 500px;
    }
}