//**
// Title row
//**
#four-articles {
    .article {
        float: left;
        font-family: $system-font-stack;
        width: 250px;
        margin: 0 0 20px 0;
        img {
            margin: 0 0 10px 0;
            width: 235px;
        }
        .last {
            margin: 0 0 10px 0 !important;
        }
        .section {
            font-size: 12px;
            letter-spacing: 0.22px;
        }
        .headline {
            font-size: 18px;
            letter-spacing: 0.17px;
            line-height: 22px;
            margin: 0 20px 0 0;
        }
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    #four-articles {
        .article {
            width: 176px;
            margin: 0 8px 20px 0;
            img {
                margin: 0 0 5px 0;
                width: 176px;
            }
            &.last {
                margin: 0 0px 5px 0;
            }
            .section {
                font-size: 12px;
                letter-spacing: 0.22px;
            }
            .headline {
                font-size: 16px;
                letter-spacing: 0.17px;
                line-height: 18px;
            }
        }
    }
}

@include responsive($small-break) {
    #four-articles {
        width: 480px;
        .article {
            width: 235px;
            margin: 0 10px 20px 0;
        }
        .even,
        .last {
            margin: 0 0 20px 0;
            width: 235px;
        }
    }
}