//**
// Title row
//**
#four-articles {
    .article {
        float: left;
        font-family: $system-font-stack;
        width: 250px;
        margin: 0 0 20px 0;
        .img {
            height: 158px;
            background: red;
            margin: 0 20px 10px 0;
        }
        .last {
            margin: 0 0 10px 0 !important;
        }
        .section {
            font-size: 12px;
            letter-spacing: 0.22px;
        }
        .headline {
            font-size: 18px;
            letter-spacing: 0.17px;
            line-height: 22px;
            margin: 0 20px 0 0;
        }
    }
}