#hero-six-articles {
    .hero {
        width: 480px;
        margin: 0 20px 10px 0;
        img {
            max-width: 480px;
        }
        .blue-strip {
            background: none repeat scroll 0 0 #7199D7;
            content: "";
            display: block;
            height: 110px;
            position: relative;
            width: 480px;
            margin: -108px 10px 30px 10px;
            z-index: 0;
            mix-blend-mode: multiply;
        }
        h2 {
            font-size: 32px;
            font-family: $system-font-stack;
            font-weight: 500;
            position: relative;
            color: $white;
            z-index: 1;
            top: -14px;
            left: 7px;
            opacity: 1;
            margin: -135px 10px 0 10px;
            height: 95px;
            letter-spacing: 0.22px;
            line-height: 35px;
            text-shadow: 0 0 14px $black;
        }
    }
    .article {
        font-family: $system-font-stack;
        width: 490px;
        margin: 20px 0 0 0 !important;
        .section {
            font-size: 14px;
            letter-spacing: 0.26px;
        }
        .headline {
            font-size: 24px;
            letter-spacing: 0.22px;
            line-height: 27px;
        }
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    #hero-six-articles {
        .hero {
            width: 350px;
            margin: 0;
            img {
                max-width: 350px;
                height: 232px;
            }
            .blue-strip {
                width: 345px;
                margin: -84px 10px 30px 10px;
                height: 81px;
            }
            h2 {
                font-size: 24px;
                line-height: 25px;
                margin: -100px 10px 0 10px;
            }
        }
        .first {
            img {
                max-width: 340px !important;
            }
            .blue-strip {
                width: 335px;
                margin: -85px 10px 30px 10px;
            }
        }
        .last {
            margin: 0 0 10px 0
        }
        .text {
            margin: -20px 0 0 0;
        }
        .article {
            font-family: $system-font-stack;
            width: 340px;
            margin: 10px 0 0 0 !important;
            .section {
                font-size: 14px;
                letter-spacing: 0.3px;
            }
            .headline {
                font-size: 20px;
                letter-spacing: 0.14px;
                line-height: 24px;
            }
        }
    }
}