//**
// Title row
//**
#title-row {
    width: 1000px;
    text-align: center;
    .grey-block {
        background: #F6F6F6;
        background-size: cover;
        height: 12px;
        margin: 16px 0px;
        width: 1000px;
    }
    .white-block {
        background: $white;
        display: inline-block;
        .title {
            height: 35px;
            padding: 0 20px 0 13px;
            display: inline-block;
            position: relative;
            bottom: 22px;
            h2 {
                font-size: 28px;
                font-family: $system-font-stack;
                text-align: center;
            }
            h2:after {
                background: none repeat scroll 0 0 $yellow;
                content: "";
                display: block;
                height: 12px;
                position: relative;
                bottom: 22px;
                left: 7px;
                z-index: 0;
                mix-blend-mode: multiply;
            }
        }
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    #title-row {
        width: 720px;
        .grey-block {
            width: 720px;
        }
    }
}

@include responsive($small-break) {
    #title-row {
        width: 480px;
        .grey-block {
            width: 480px;
        }
    }
}