//**
// Title row
//**
#title-row {
    display: table;
    width: 1000px;
    margin-top: -35px;
    .grey-block {
        opacity: 0.04;
        background: $black;
        width: 450px;
        height: 12px;
        margin: 35px 0px;
    }
    .title {
        display: table-cell;
        vertical-align: middle;
        min-width: 100px;
        padding: 0 0 0 10px;
        height: 60px;
        h2 {
            font-size: 28px;
            font-family: $system-font-stack;
            margin: 0 0 32px 0;
        }
        h2:after {
            background: none repeat scroll 0 0 $yellow;
            bottom: -10px;
            content: "";
            display: block;
            height: 12px;
            position: relative;
            width: 65px;
            margin: -32px 10px 0 10px;
            z-index: -99999;
        }
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    #title-row {
        width: 720px;
        .grey-block {
            width: 314px;
        }
    }
}

@include responsive($small-break) {
    #title-row {
        width: 480px;
        .grey-block {
            width: 190px;
        }
    }
}