//**
// Responsive Styles
//**
@include responsive($big-break) {}

@include responsive($medium-break) {
    body {
        overflow-x: hidden;
        #four-articles .article .last {
            margin: 0 20px 10px 0 !important;
        }
    }
}

@include responsive($small-break) {
    body {
        overflow-x: hidden;
    }
}